[Desktop Entry]
Type=Application
Exec=kcolorchooser %i %m
Icon=kcolorchooser
TerminalOptions=
Path=
Terminal=0
BinaryPattern=kcolorchooser
DocPath=kcolorchooser/kcolorchooser.html
Comment=Color Chooser
Name=KColorChooser

X-DCOP-ServiceType=Multi
