[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=kcolorchooser
Icon=kcolorchooser
Path=
Terminal=false
DocPath=kcoloredit/index.html
GenericName=Color Chooser
GenericName[el]=Επιλογέας χρωμάτων
GenericName[fr]=Sélecteur de couleur
GenericName[x-test]=xxColor Chooserxx
Name=KColorChooser
Name[x-test]=xxKColorChooserxx

X-DBUS-StartupType=Multi
Categories=Qt;KDE;Graphics;X-KDE-More;
