[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=kcoloredit %i %m %U
Icon=kcoloredit
TerminalOptions=
Path=
Terminal=0
BinaryPattern=kcoloredit
DocPath=kcoloredit/kcoloredit.html
Comment=Color Palette Editor
Comment[af]=kleur palet redigeerder
Comment[ar]=محرر لوحة رسم الألوان
Comment[cs]=Editor palety barev
Comment[da]=Paletredigering
Comment[de]=Editor für Farbpaletten
Comment[en_GB]=Colour Palette Editor
Comment[es]=Editor de paleta de color
Comment[fi]=Väripalettien muokkain
Comment[fr]=Un éditeur de palette de couleurs
Comment[he]=עורך ערכות צבעים
Comment[hu]=Palettaszerkesztő alkalmazás
Comment[lv]=Krāsu Paletes Redaktors
Comment[nl]=kleurenpaleteditor
Comment[nn]=Palettredigering
Comment[sk]=Editor palety farieb
Comment[sl]=Urejevalnik barvne palete
Comment[sv]=Färgpaletteditor
Comment[ta]=Åñ½ò¾ðÎò ¦¾¡ÌôÀ¡Ç÷
Comment[xx]=xx
Name=KColorEdit
Name[af]=k-kleur-redigeer
Name[cs]=Editor barev
Name[fr]=kColorEdit
Name[hu]=KColorEdit palettaszerkesztő
Name[lv]=KKrāsuRedaktors
Name[sv]=Kcoloredit
Name[xx]=xx

X-DCOP-ServiceType=Multi
