[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=kcolorchooser
Icon=kcolorchooser
Path=
Terminal=false
DocPath=kcoloredit/index.html
GenericName=Color Chooser
GenericName[x-test]=xxColor Chooserxx
Name=KColorChooser
Name[x-test]=xxKColorChooserxx

X-DCOP-ServiceType=Multi
Categories=Qt;KDE;Graphics;X-KDE-More;
