[Desktop Entry]
Type=Application
Exec=kcoloredit %i %m %U
Icon=kcoloredit
TerminalOptions=
Path=
Terminal=0
BinaryPattern=kcoloredit
DocPath=kcoloredit/kcoloredit.html
Comment=An editor for palette files
Comment[sv]=En editor för palettfiler
Name=Palette Editor
Name[sv]=Paletteditor

