[Desktop Entry]
Type=Application
Categories=Qt;KDE;Graphics;
Exec=kcoloredit
Icon=kcoloredit
Terminal=false
X-DocPath=kcoloredit/index.html
GenericName=Color Palette Editor
GenericName[x-test]=xxColor Palette Editorxx
Name=KColorEdit
Name[x-test]=xxKColorEditxx
X-DBUS-StartupType=Multi

